{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<section>
	<div class="container">

		<div class="row">

			<!-- Subtitle -->
			<div class="heading-title heading-border">
				<h2><span>Projecto</span> Ditek</h2>

				<ul class="list-inline categories nomargin">
					<li><a href="#">Instrumentacion</a></li>
					<li><a href="#">Vision</a></li>
				</ul>

			</div>
			<!-- /Subtitle -->
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">


				<p>Circuito con sensor electroquímico para la detección de concentraciones de monóxido de carbono con las siguientes características: </p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Alta precisión de hasta 1 ppm </li>
					<li>Rango de detección de 0 – 1000 ppm </li>
					<li>Rango de Humedad 15% -90% </li>
					<li>Diferentes alertas sonoras dependiendo del nivel de CO </li>
					<li>Control de la velocidad de ventiladores extractores </li>
				</ul>
				<p>Circuito Transceptor Bluetooth BLE para la comunicación entre la campana extractora y celulares con sistemas operativos iOS y Android. </p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Indicador RGB del estado de conexión BLE </li>
					<li>Botón de apagado y reconexión del módulo </li>
					<li>Comunicación con protocolo UART Half-Duplex por 1-Hilo </li>
				</ul>
				<p> Aplicación móvil donde el usuario puede visualizar y controlar en tiempo real el estado de las diferentes alarmas La aplicación cuenta con las siguientes características: </p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Control Bluetooth protegido por contraseña </li>
					<li>Acceso rápido a teléfono de Servicio y Mantenimiento </li>
					<li>Acceso rápido a las redes sociales de la compañía </li>
					<li>Visualización del nivel actual de Monóxido de Carbono  </li>
					<li>Selección de la velocidad de ventilador extractor </li>
					<li>Encendido/Apagado de las luces </li>
				</ul>



			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/campana.png' %}"  alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/campana2.png' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/campana3.png' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->

			</div>



		</div>

	</div>
</section>
<!-- -->

<!-- CALLOUT


			<section class="theme-color">
	<div class="container">

					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<! /CALLOUT -->
<section>
	<div class="container">
		<header class="text-center margin-bottom-60">
			<h2>"Automatización de camapana extractora"</h2>
			<p class="lead font-lato">Sistema de control de campana extractora por Bluetooth BLE y Smartphone  </p>
			<hr />
		</header>

		<div class="row">

			<div class="row margin-top-60">
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Necesidad</h3>
						<p>Necesidad de la empresa</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Poder Controlar campanas extractoras de manera inálambrica y conoocer los niveles de monóxido de carbono</li>
								<li>Lector códigos QR</li>

							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Solución</h3>
						<p>Desarrollo de un proyecto integral </p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Circuito Modular con sensor electroquimico de concentracion de monoxido de carbono y alarma sonora</li>
								<li>Circuito Modular con microcontrolador BLE</li>
								<li>Aplicación Móvil con conexión Bluetooth que permite el envío y recepción de datos desde la campana extractora</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Logros</h3>
						<p>Los Logros Adquiridos por el desarrollo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Conseguir un producto innovador en el area de automatización de viviendas</li>
								<li>Integración de los circuitos modulares con la tecnología existente de las campanas</li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /LEFT -->


	</div>

	</div>
</section>
<!-- / -->


<!-- -->

<!-- / -->
{% endblock %}