{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!-- INTRODUCCION -->
<section>
	<div class="container">
		<article class="row">
			<div class="col-md-6">
				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, 							"navigation": true, "pagination": true, "transitionStyle":"backSlide"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/slide_instrum2.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/slide_instrum1.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/slide_instrum3.jpg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->
			</div>
			<div class="col-md-6">
				<h3>Soluciones en medición, control y sistemas de test funcional</h3>
				<p style="font-size:14px;">La instrumentación se basa en la utilización de sistemas de medición, adquisición de datos y automatización, para evaluar y controlar las variables del proceso productivo. De esta manera aumenta la calidad en la industria, generando mejores resultados
					con la mayor optimización de recursos posible.</p>
				<p style="font-size:14px;"> Entre los equipos destinados a estas tareas podemos encontrar dispositivos de adquisición de datos (DAQ), distintos sensores y actuadores, software de supervisión y control de procesos productivos (SCADA), plataformas de desarrollo de software de
					ingeniería (LabVIEW) y soportes mecánicos personalizados, que permiten generar una estructura compleja para automatizar un proceso y garantizar la repetitividad de las medidas.</p>
				<p style="font-size:14px;"> En esta área ofrecemos la garantía de pertenecer al grupo de Alliance Partner de National Instruments, estando certificados como desarrolladores en su plataforma LabVIEW. </p>

				<center><img class="img-responsive center" src="{% static 'media/alt/ni1.png' %}" style="height:100px;" alt="image" style="align:center;"></center>

<br/>
<br/>
			</div>
		</article>
	</div>

<!-- END INTRODUCCION -->


<!--SECCION CARACTERISTICAS SERVICIOS-->
<section class="parallax parallax-2" style=" background-color:#366192; padding:50px 0px;">
	<div class="overlay dark-8">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-star-o"></i>
					<h4>Servicio Integral</h4>
					<p>Nos encargamos del desarrollo, instalación y la puesta en marcha. Nos involucramos en todo el ciclo de vida del producto, desde la concepción hasta la post-venta. </p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa fa-pencil"></i>
					<h4>Diseño Completo</h4>
					<p>Abarcamos las áreas necesarias para entregar un producto completo: software, electrónica, instrumentación y mecánica.</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa  fa-user-o"></i>
					<h4>Personalizado</h4>
					<p>Nos apegamos fielmente a las necesidades y requisitos del cliente asesorando en detalle de las posibles soluciones. </p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-exchange "></i>
					<h4>Versatilidad y Flexibilidad</h4>
					<p>Usamos la tecnología más adecuada para cada aplicación.</p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

	</div>

</section>
<!--- END SECCION CARACTERISTICAS SERVICIOS-->


<!-- SECCION PROCESOS
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="nomargin">Nuestro Proceso de Trabajo</h2>
						<p class="font-lato size-20 nomargin">Nuestro proceso al éxito</p>
					</header>

					<div class="divider divider-center"><!
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps process-steps-square nav nav-justified">
						<li class="active">

							<a href="#step1" data-toggle="tab">1</a>
							<h5>Mesa de Trabajo</h5>
							</li>

						<li>
							<a href="#step2" data-toggle="tab">2</a>
							<h5>Planeación</h5>
						</li>
						<li>
							<a href="#step3" data-toggle="tab">3</a>
							<h5>Diseño</h5>
						</li>
						<li>
							<a href="#step4" data-toggle="tab">4</a>
							<h5>Desarollo</h5>
						</li>
						<li>
							<a href="#step5" data-toggle="tab">5</a>
							<h5>Pruebas</h5>
						</li>
						<li>
							<a href="#step6" data-toggle="tab">6</a>
							<h5>Entrega</h5>
						</li>
					</ul>

					<div class="tab-content margin-top-30">
						<div class="tab-pane active" id="step1">
							<strong>Mesa de Trabajo</strong> heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step2">
							<strong>Planeación</strong>  denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step3">
							<strong>Diseño</strong>  tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step4">
							<strong>Desarrollo</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step5">
							<strong>Pruebas</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
						<div class="tab-pane" id="step6">
							<strong>Entrega</strong>  Regan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
					</div>

				</div>
			</section>
			<!- END SECCION PROCESOS-->


<!-- DESCANSO VISUAL 2
			<section class="parallax parallax-2" style="background-image: url('{% static 'media/alt/electronica_descanso.jpeg' %}'); background-position: 50% 107px;">
				<div class="overlay dark-7"><!</div>
				<div class="container text-center">
					<h2 class="font-raleway margin-bottom-10">"{% static 'media/alt/parallax1.jpeg' %}"
						<span class="countTo" data-speed="4000">15</span> Projectos Entregados
					</h2>
					<h3 class="size-25">Clientes<span> Satisfechos</span>. Desarrollos<span> Únicos</span>!</h3>
				</div>
			</section>
			<!- END DESCANSO VISUAL 2-->

<section>
	<div class="container">


		<div class="timeline">

			<!-- Proyectos -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					01<span></span>
					<div class="timeline-vline" style="color:blue;">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Medición y adquisición de datos.</h2>
				<p>Integración de dispositivos de adquisición de datos en diferentes plataformas como PXI, PCI, cDAQ, cRIO, USB y Ethernet con todo tipo de sensores y actuadores, así como protocolos, por ejemplo MODBUS. </p>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-6">
					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/instru1.png' %}" style="height:250px;" alt="image">
					</div>

					<div class="col-md-4 col-sm-4 col-xs-12">
					</div>
				</div>


			</div>
			<!-- /ITEM -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					02<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Supervisión y control.</h2>
				<p>Desarrollo a medida de software SCADA para procesos productivos con bajo o alto grado de automatización.</p>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-6">

					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/instru2.png' %}" style="height:250px;" alt="image">
					</div>

					<div class="col-md-4 col-sm-4 col-xs-12">

					</div>
				</div>
			</div>
			<!-- /ITEM -->
			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					03<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Equipos automáticos de test funcional (ATE)</h2>
				<p>Diseñamos y construimos equipos completos de test a través de hardware modular y software flexible, además de la creación de fixtures personalizados. </p>
				<div class="row">

					<div class="col-md-4 col-md-offset-2">
						<img class="img-responsive" src="{% static 'media/alt/instru333.jpg' %}"  alt="image">
					</div>

					<div class="col-md-4">
						<img class="img-responsive" src="{% static 'media/alt/instru3.2.jpg' %}" style="height:212px;" alt="image">
					</div>
					<div class="col-md-2"></div>


				</div>
			</div>
			<!-- /ITEM -->




		</div>
</section></section>

{% endblock %}
