{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<section>
	<div class="container">

		<div class="row">

			<!-- Subtitle -->
			<div class="heading-title heading-border">
				<h2><span>Localizador</span> Bluetooth</h2>

				<ul class="list-inline categories nomargin">
					<li><a href="#">Electronica</a></li>
					<li><a href="#">Raspberry Pi</a></li>
				</ul>

			</div>
			<!-- /Subtitle -->
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">


				<p>Un dispositivo electrónico con transceptor Bluetooth diseñado para alertar al usuario que se está alejando de un objeto personal o ha perdido contacto con él y pueda regresar por él. El sistema es configurable para mostrar un mensaje en el celular,
					activar un sonido o un LED. s</p>
			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/localizador.png' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->

			</div>



		</div>

	</div>
</section>
<!-- -->

<!-- CALLOUT


			<section class="theme-color">
	<div class="container">

					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<! /CALLOUT -->
<section>
	<div class="container">
		<header class="text-center margin-bottom-60">
			<h2>"Localizador Bluetooth"</h2>
			<p class="lead font-lato">Dispositivo de localización móvil con tecnología Bluetooth LE </p>
			<hr />
		</header>

		<div class="row">

			<div class="row margin-top-60">
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Necesidad</h3>
						<p>Necesidad de la empresa</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Prevenir pérdidas de objetos personales como puede ser una cartera, llaves, bolsos</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Solución</h3>
						<p>Desarrollo de un dispositivo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Bluetooth low energy</li>
								<li>Automatizado con alertas</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Logros</h3>
						<p>Los Logros Adquiridos por el desarrollo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Dispositivo de pequeñas diemensiones adaptable a cualquier objeto</li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /LEFT -->


	</div>

	</div>
</section>
<!-- / -->


<!-- -->

<!-- / -->
{% endblock %}
