{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<section>
	<div class="container">

		<div class="row">

			<!-- Subtitle -->
			<div class="heading-title heading-border">
				<h2>Sistema de <span>Medicion</span> de vibraciones</h2>

				<ul class="list-inline categories nomargin">
					<li><a href="#">Instrumentacion</a></li>
					<li><a href="#">Vision</a></li>
				</ul>

			</div>
			<!-- /Subtitle -->
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">


				<p>Solución integral de hardware y software de trazabilidad de empaque durante la etapa de etiquetado y clasificación en centros hortifrutícolas</p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Implementación en Ordenador de Placa Reducida Raspberry Pi 2 </li>
					<li>Sistema Operativo Raspian con pantalla HDMI de 7"</li>
					<li>Interfaz táctil resistiva</li>
					<li>Sistema de energía de respaldo de batería de LiPo</li>
					<li>Conectividad host: Ethernet (ip)</li>
					<li>Integración con base de datos a través de su función de cliente/servidor</li>
					<li>Impresión de etiquetas térmicas con detalles del producto y codigo QR</li>
					<li>Lector de códigos QR</li>
				</ul>


			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'images/demo/720x400/24-min.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'images/demo/720x400/3-min.jpg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->

			</div>



		</div>

	</div>
</section>
<!-- -->

<!-- CALLOUT


			<section class="theme-color">
	<div class="container">

					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<! /CALLOUT -->
<section>
	<div class="container">
		<header class="text-center margin-bottom-60">
			<h2>"Sistema de medicion de vibraciones"</h2>
			<p class="lead font-lato"> Automatizar el proceso de clasificación y etiquetado en centros hortofruticolas </p>
			<hr />
		</header>

		<div class="row">

			<div class="row margin-top-60">
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Necesidad</h3>
						<p>Necesidad de la empresa</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Medicion de la vibracion de las bombas de agua en el laboratorio de test de la planta de produccion</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Solución</h3>
						<p>Integreacion de </p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Acelerometro a travez de un compact DAQ de NI</li>
								<li>Software de Control y análisis de las mediciones</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Logros</h3>
						<p>Los Logros Adquiridos por el desarrollo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Mediciones automaticas con sistemas sumergibles</li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /LEFT -->


	</div>

	</div>
</section>
<!-- / -->


<!-- -->

{% endblock %}
