{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<section>
	<div class="container">

		<div class="row">

			<!-- Subtitle -->
			<div class="heading-title heading-border">
				<h2>Sistema de <span>Monitorizacion</span> con Cámaras FLIR Ax8</h2>

				<ul class="list-inline categories nomargin">
					<li><a href="#">Termografía</a></li>
					<li><a href="#">FLIR</a></li>
					<li><a href="#">Vision</a></li>
				</ul>

			</div>
			<!-- /Subtitle -->
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">


				<p>El software tiene las siguientes características:</p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Conexion Ethernet con camaras FLIR Ax8</li>
					<li>Monitorización de hasta 16 camaras</li>
					<li>Visualizacion de 6 puntos y 6 areas por camara</li>
					<li>Análisis de tiempo real con condiciones programables</li>
					<li>Gráfica con historicode cada uno de los puntos y áreas programados</li>
				</ul>


			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/ax81.jpeg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/ax82.jpeg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/ax83.jpeg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->

			</div>



		</div>

	</div>
</section>
<!-- -->

<!-- CALLOUT


			<section class="theme-color">
	<div class="container">

					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<! /CALLOUT -->
<section>
	<div class="container">
		<header class="text-center margin-bottom-60">
			<h2>"Sistema de monitorización con cámaras FLIR"</h2>
			<p class="lead font-lato">Software que permite visualizar cada una de las cámaras termográficas, fácil de usar y que no requiere que el usuario cuente con formación específica para el análisis de imágenes infrarrojas. </p>
			<hr />
		</header>

		<div class="row">

			<div class="row margin-top-60">
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Necesidad</h3>
						<p>Necesidad de la empresa</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Monitorizar y analizar temperaturas en lugares con poco espacio</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Solución</h3>
						<p>Desarrollo de un equipo especial </p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Integracion de cámaras FLIR Ax8</li>
								<li>Análisis de distintos puntos y áreas</li>
								<li>Graficación en tiempo real de temperatura y otros parámetros</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Logros</h3>
						<p>Los Logros Adquiridos por el desarrollo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Solución compacta y potente para análisis termografico de bajo coste</li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /LEFT -->


	</div>

	</div>
</section>
<!-- / -->


<!-- -->

{% endblock %}
