{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<section>
	<div class="container">

		<div class="row">

			<!-- Subtitle -->
			<div class="heading-title heading-border">
				<h2><span>Oximetro</span> y pulsimetro para bebés</h2>

				<ul class="list-inline categories nomargin">
					<li><a href="#">Instrumentacion</a></li>
					<li><a href="#">Electrónica</a></li>
				</ul>

			</div>
			<!-- /Subtitle -->
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6">


				<p>Wearable recargable que es adaptable al tobillo del bebé, y que envía la información en tiempo real a través de Bluetooth que puede ser vista desde una aplicación móvil o en una estación base/cargador. </p>
				<p>El dispositivo utiliza óptica reflexiva para calcular la saturación de oxígeno y el pulso cardiaco, a la vez de una continua evaluación de la carga de la batería. La estación base está constituida por: </p>
				<ul class="list-icon check-square font-lato">
					<!-- block 2 -->
					<li>Pantalla táctil a color </li>
					<li>Banda de Iluminación LED </li>
					<li>Cargador Inalámbrico para la pulsera</li>
					<li>Circuito transceptor Bluetooth </li>
					<li>Módulo módem WiFi </li>
					<li>Sensor de temperatura y humedad ambiental </li>
				</ul>
				<p>Permite ver los datos recibidos desde la pulsera por Bluetooth, así como la temperatura y humedad ambiental, analizando los datos y estableciendo el color de la banda de iluminación LED dependiendo del nivel de alerta. </p>
				<p>La estación base puede ser configurada para ser utilizada para funcionar como módem WiFi o conectarse a un router y enviar los datos a un celular a través de un servidor TCP local. </p>
			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">

				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/oximetro1.png' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/oximetro2.png' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/oximetro3.jpeg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/oximetro4.png' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/oximetro5.jpeg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->

			</div>



		</div>

	</div>
</section>
<!-- -->

<!-- CALLOUT


			<section class="theme-color">
	<div class="container">

					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<! /CALLOUT -->
<section>
	<div class="container">
		<header class="text-center margin-bottom-60">
			<h2>"Oximetro y pulsimetro para bebés"</h2>
			<p class="lead font-lato">Solución integral para la monitorización inalámbrica de la saturación de oxígeno en la sangre y pulso cardíaco en bebés </p>
			<hr />
		</header>

		<div class="row">

			<div class="row margin-top-60">
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Necesidad</h3>
						<p>Necesidad de la empresa</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Prevencion de la apnea infantil</li>
								<li>Necesidad de monitoreo continua de la saturacion de oxigeno y puslo cardiaco en infantes</li>

							</ul>
						</div>
					</div>

				</div>

				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Solución</h3>
						<p>Desarrollo y diseño de un proyecto integral </p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Diseño de un dispositivo wearable con un oxímetro de pulso reflexivo mediante un microcontrolador </li>
								<li>Dispositivo de baja energia y bateria recargable tipo moneda que se comunica con el celular mediante Bluetooth</li>
								<li>Diseño de una estación base que despliega la informacion en un display y repite la señal del wearable por wifi</li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="heading-title text-center heading-border-bottom heading-color">
						<h3>Logros</h3>
						<p>Los Logros Adquiridos por el desarrollo</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-icon check-square">
								<!-- block 2 -->
								<li>Dispositivo no invasivo e inalambrico</li>
								<li>Dispositivo wearable dotado de carga inalambrica carece de conectores</li>
								<li>Gracias a la estacion base se extiende el rango de comunicacion y se pueden compartir datos en la nube</li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /LEFT -->


	</div>

	</div>
</section>
<!-- / -->


<!-- -->
<section>
	<div class="container">

		<div class="heading-title heading-border">
			<h3>Conoce más<span>Proyectos</span></h3>
			<p class="font-lato size-14">Tenemos mas proyectos relacionados con electrónica</p>
		</div>

		<!--
									RELATED CAROUSEL

									controlls-over		= navigation buttons over the image
									buttons-autohide 	= navigation buttons visible on mouse hover only

									owl-carousel item paddings
										.owl-padding-0
										.owl-padding-1
										.owl-padding-2
										.owl-padding-3
										.owl-padding-6
										.owl-padding-10
										.owl-padding-15
										.owl-padding-20
								-->
		<div class="text-center">
			<div class="owl-carousel owl-padding-1 nomargin buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "3", "autoPlay": 3500, "navigation": true, "pagination": false}'>

				<!-- item -->
				<div class="item-box">
					<figure>
						<span class="item-hover">
													<span class="overlay dark-5"></span>
						<span class="inner">

														<!-- details -->
														<a class="ico-rounded" href="portfolio-single-slider.html">
															<span class="glyphicon glyphicon-option-horizontal size-20"></span>
						</a>

						</span>
						</span>

						<img class="img-responsive" src="{% static 'media/alt/ax81.jpeg' %}" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Monitorizacion con FLIR</h3>
						<ul class="list-inline categories nomargin">
							<li><a href="#">Termografía</a></li>
						</ul>
					</div>

				</div>
				<!-- /item -->

				<!-- item -->
				<div class="item-box">
					<figure>
						<span class="item-hover">
													<span class="overlay dark-5"></span>
						<span class="inner">
														<!-- details -->
														<a class="ico-rounded" href="portfolio-single-slider.html">
															<span class="glyphicon glyphicon-option-horizontal size-20"></span>
						</a>

						</span>
						</span>

						<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Terminal de Trazabilidad</h3>
						<ul class="list-inline categories nomargin">
							<li><a href="#">Electronica</a></li>
							<li><a href="#">Diseño</a></li>
						</ul>
					</div>

				</div>
				<!-- /item -->

				<!-- item -->
				<div class="item-box">
					<figure>
						<span class="item-hover">
													<span class="overlay dark-5"></span>
						<span class="inner">

														<!-- details -->
														<a class="ico-rounded" href="portfolio-single-slider.html">
															<span class="glyphicon glyphicon-option-horizontal size-20"></span>
						</a>

						</span>
						</span>

						<img class="img-responsive" src="{% static 'media/alt/campana.png' %}" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Campana Extractora</h3>
						<ul class="list-inline categories nomargin">
							<li><a href="#">Instrumentacion</a></li>
						</ul>
					</div>

				</div>
				<!-- /item -->




			</div>
		</div>

	</div>
</section>
<!-- / -->
{% endblock %}
