{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
			<!-- -->
			<section>
				<div class="container">

					<div class="row">

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">TERMINAL DE TRAZABILIDAD</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>Solución integral de hardware y software de trazabilidad de empaque durante la etapa de etiquetado y clasificación en centros hortifrutícolas ​ Implementación en Ordenador de Placa Reducida Raspberry Pi.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/oximetro2.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">OXIMETRO RECIEN NACIDO</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>Solución integral para la monitorización inalámbrica de la saturación de oxígeno en la sangre y pulso cardíaco en bebés Wearable recargable que es adaptable al tobillo del bebé, y que envía la información en tiempo real.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->


						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">AUTOMATIZACIÓN CAMPANA</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>Sistema de control de campana extractora por Bluetooth BLE y Smartphone Circuito con sensor electroquímico para la detección de concentraciones de monóxido de carbono.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->


						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/campana.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">BLOG IMAGE POST</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->


						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">ANOTHER BLOG POST</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->


						<!-- POST ITEM -->
						<div class="blog-post-item col-md-4 col-sm-4">

							<!-- IMAGE -->
							<figure class="margin-bottom-20">
								<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
							</figure>

							<h2><a href="blog-single-default.html">ANOTHER BLOG POST</a></h2>

							<ul class="blog-post-info list-inline">
								<li>
									<a href="#">
										<i class="fa fa-clock-o"></i> 
										<span class="font-lato">June 29, 2015</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-comment-o"></i> 
										<span class="font-lato">28</span>
									</a>
								</li>
							</ul>

							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable There are many.</p>

							<a href="blog-single-default.html" class="btn btn-reveal btn-default">
								<i class="fa fa-plus"></i>
								<span>Leer Más</span>
							</a>

						</div>
						<!-- /POST ITEM -->

					</div>


					<!-- PAGINATION -->
					<ul class="pager">
					  <li class="previous"><a class="radius-0" href="#">&larr; Older</a></li>
					  <li class="next"><a class="radius-0" href="#">Newer &rarr;</a></li>
					</ul>
					<!-- /PAGINATION -->

				</div>
			</section>
			<!-- / -->
{% endblock %}