{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
			<section>
				<div class="container">

					<div class="row">
						
							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>Terminal de  <span>Trazabilidad</span></h2>

								<ul class="list-inline categories nomargin">
									<li><a href="#">Electronica</a></li>
									<li><a href="#">Raspberry Pi</a></li>
								</ul>

							</div>
								<!-- /Subtitle -->
					</div>

					<div class="row">
						
						<div class="col-lg-6 col-md-6 col-sm-6">


							<p>Solución integral de hardware y software de trazabilidad de empaque durante la etapa de 
							etiquetado y clasificación en centros hortifrutícolas</p>
																			<ul class="list-icon check-square font-lato"><!-- block 2 -->
													<li>Implementación en Ordenador de Placa Reducida Raspberry Pi 2 </li>
													<li>Sistema Operativo Raspian con pantalla HDMI de 7"</li>
													<li>Interfaz táctil resistiva</li>
													<li>Sistema de energía de respaldo de batería de LiPo</li>
													<li>Conectividad host: Ethernet (ip)</li>
													<li>Integración con base de datos a través de su función de cliente/servidor</li>
													<li>Impresión de etiquetas térmicas con detalles del producto y codigo QR</li>
													<li>Lector de códigos QR</li>
												</ul>

						
						</div>

						

						<div class="col-lg-6 col-md-6 col-sm-6">

							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over nomargin box-shadow-1" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fade", "progressBar":"true"}'>
								<div>
									<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" alt="">
								</div>
								<div>
									<img class="img-responsive" src="{% static 'images/demo/720x400/24-min.jpg' %}" alt="">
								</div>
								<div>
									<img class="img-responsive" src="{% static 'images/demo/720x400/3-min.jpg' %}" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->

						</div>

						

					</div>

				</div>
			</section>
			<!-- -->

			<!-- CALLOUT -->


			<section class="theme-color">
	<div class="container">
	
					<div class="text-center">
						<h3 class="size-30">Somos expertos en proponer soluciones</h3>
						<p></p>
					</div>

	</div>
</section>
			<!-- /CALLOUT -->
		<section>
				<div class="container">
				                    <header class="text-center margin-bottom-60">
                        <h2>"Terminal de Trazabilidad"</h2>
                        <p class="lead font-lato"> Automatizar el proceso de clasificación y etiquetado en centros hortofruticolas </p>
                        <hr />
                    </header>
					
					<div class="row">
					
							<div class="row margin-top-60">
								<div class="col-sm-4">
									<div class="heading-title text-center heading-border-bottom heading-color">
										<h3 >Necesidad</h3>
										<p>Necesidad de la empresa FERBA</p>
									</div>
									<div class="row">
											<div class="col-md-12">
												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Lector de RFid</li>
													<li>Lector códigos QR</li>

												</ul>
											</div>
									</div>

								</div>

								<div class="col-sm-4">
									<div class="heading-title text-center heading-border-bottom heading-color">
										<h3 >Solución</h3>
										<p>Desarrollo de un equipo que integre diferentes perífericos </p>
									</div>
									<div class="row">
											<div class="col-md-12">
												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Lector de RFid</li>
													<li>Lector códigos QR</li>
													<li>Impresora de etiquetas</li>
													<li>Báscula</li>
													<li>Pantalla HDMI Táctil</li>
													<li>Conexión WiFi</li>
													<li>Conexión Ethernet</li>
													<li>E/S Digitales</li>
													<li>Conexión Base de datos</li>
												</ul>
											</div>
									</div>

								</div>
								<div class="col-sm-4">
									<div class="heading-title text-center heading-border-bottom heading-color">
										<h3>Logros</h3>
										<p>Los Logros Adquiridos por el desarrollo</p>
									</div>
									<div class="row">
											<div class="col-md-12">
												<ul class="list-icon check-square"><!-- block 2 -->
													<li>Software de Plataforma Abierta</li>
													<li>Desarrollo Escalable</li>
													<li>Equipo de bajo costo</li>
													<li>Plataforma potente</li>
													<li>Versátil</li>
													<li>Funcional</li>
													<li>Inteligente</li>
												</ul>
											</div>
									</div>

								</div>

							</div>

						</div>
						<!-- /LEFT -->


					</div>
					
				</div>
			</section>
			<!-- / -->


			<!-- -->
			<section>
				<div class="container">

					<div class="heading-title heading-border">
						<h3>Conoce más<span>Proyectos</span></h3>
						<p class="font-lato size-14">Tenemos mas proyectos relacionados con electrónica</p>
					</div>

					<!-- 
						RELATED CAROUSEL 

						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-1
							.owl-padding-2
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="text-center">
						<div class="owl-carousel owl-padding-1 nomargin buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "4", "autoPlay": 3500, "navigation": true, "pagination": false}'>
							
							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="{% static 'media/alt/trazabilidad.png' %}" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Proyecto</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Electronica</a></li>
										<li><a href="#">Design</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="{% static 'media/alt/oximetro2.png' %}" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Proyecto</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Electronica</a></li>
										<li><a href="#">Design</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">

											<!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="{% static 'media/alt/campana.png' %}" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Proyecto</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Electronica</a></li>
										<li><a href="#">Design</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="{% static 'images/demo/mockups/600x399/10-min.jpg' %}" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Proyecto</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Electronica</a></li>
										<li><a href="#">Design</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

							<!-- item -->
							<div class="item-box">
								<figure>
									<span class="item-hover">
										<span class="overlay dark-5"></span>
										<span class="inner">
											<!-- details -->
											<a class="ico-rounded" href="portfolio-single-slider.html">
												<span class="glyphicon glyphicon-option-horizontal size-20"></span>
											</a>

										</span>
									</span>

									<img class="img-responsive" src="{% static 'images/demo/mockups/600x399/11-min.jpg' %}" width="600" height="399" alt="">
								</figure>

								<div class="item-box-desc">
									<h3>Proyecto</h3>
									<ul class="list-inline categories nomargin">
										<li><a href="#">Electronica</a></li>
										<li><a href="#">Design</a></li>
									</ul>
								</div>

							</div>
							<!-- /item -->

						</div>
					</div>

				</div>
			</section>
			<!-- / -->
{% endblock %}



