{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!-- INTRODUCCION -->
<section>
	<div class="container">
		<article class="row">
			<div class="col-md-6">
				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, 							"navigation": true, "pagination": true, "transitionStyle":"backSlide"}'>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/termo_1.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/termo_2.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/termo_3.jpg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->
			</div>
			<div class="col-md-6">
				<h3>Soluciones en Termografía</h3>
				<p style="font-size:14px;">Mediante el uso cámaras termográficas podemos obtener mediciones de temperatura sin contacto con precisión y rapidez. </p>
				<p style="font-size:14px;">Integramos sistemas completos de termografía, ya sea para detección automática de defectos en productos (
					<a href="/vision">Ver visión artificial</a> ), mantenimiento predictivo, detección temprana de fallos de operación en máquinas y redes eléctricas, análisis de objetos o monitorización de temperaturas en cualquier tipo de proceso y automatización
					en general en aquellas operaciones en las que la radiación térmica de los objetos nos puede ayudar. </p>
				<p style="font-size:14px;">Estos sistemas pueden ser autónomos o empleando una computadora con un software desarrollado a la medida para realizar el análisis y control necesario en cada aplicación. Además combinamos estos sistemas con instrumentación externa y otros equipos
					de medición que estén involucrados en sus procesos. </p>
			</div>
		</article>
	</div>

<!-- END INTRODUCCION -->


<!--SECCION CARACTERISTICAS SERVICIOS-->
<section class="parallax parallax-2" style="background-color:#366192; padding:50px 0px;">
	<div class="overlay dark-8">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa fa-refresh"></i>
					<h4>Servicio Integral</h4>
					<p>Nos encargamos del desarrollo, instalación y la puesta en marcha. </p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-star-o"></i>
					<h4>Innovación</h4>
					<p>Nuevo enfoque a la hora de medir temperaturas y analizar objetos según su radiación. </p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa  fa-check"></i>
					<h4>Precisión y Calidad</h4>
					<p>Análisis y control de sus procesos.</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-database"></i>
					<h4>Interoperabilidad</h4>
					<p>Integración y comunicación con dispositivos y bases de datos existentes. </p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

	</div>

</section>
<!--- END SECCION CARACTERISTICAS SERVICIOS-->


<!-- SECCION PROCESOS
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="nomargin">Nuestro Proceso de Trabajo</h2>
						<p class="font-lato size-20 nomargin">Nuestro proceso al éxito</p>
					</header>
				<p>Reparación Servicio de reparación de sistemas electrónicos dañados o en mal funcionamiento Ofrecemos Análisis de averías
				En casos especiales instalamos equipos datalogger para la recopilación de datos durante largos períodos de tiempo Reparación de equipos industriales
				Reconstrucción de circuitos electrónicos.</p>

					<div class="divider divider-center"><!
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps process-steps-square nav nav-justified">
						<li class="active">

							<a href="#step1" data-toggle="tab">1</a>
							<h5>Mesa de Trabajo</h5>
							</li>

						<li>
							<a href="#step2" data-toggle="tab">2</a>
							<h5>Planeación</h5>
						</li>
						<li>
							<a href="#step3" data-toggle="tab">3</a>
							<h5>Diseño</h5>
						</li>
						<li>
							<a href="#step4" data-toggle="tab">4</a>
							<h5>Desarollo</h5>
						</li>
						<li>
							<a href="#step5" data-toggle="tab">5</a>
							<h5>Pruebas</h5>
						</li>
						<li>
							<a href="#step6" data-toggle="tab">6</a>
							<h5>Entrega</h5>
						</li>
					</ul>

					<div class="tab-content margin-top-30">
						<div class="tab-pane active" id="step1">
							<strong>Mesa de Trabajo</strong> heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step2">
							<strong>Planeación</strong>  denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step3">
							<strong>Diseño</strong>  tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step4">
							<strong>Desarrollo</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step5">
							<strong>Pruebas</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
						<div class="tab-pane" id="step6">
							<strong>Entrega</strong>  Regan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
					</div>

				</div>
			</section>
			<!- END SECCION PROCESOS-->


<!-- DESCANSO VISUAL 2
			<section class="parallax parallax-2" style="background-image: url('{% static 'media/alt/electronica_descanso.jpeg' %}'); background-position: 50% 107px;">
				<div class="overlay dark-7"><!</div>
				<div class="container text-center">
					<h2 class="font-raleway margin-bottom-10">"{% static 'media/alt/parallax1.jpeg' %}"
						<span class="countTo" data-speed="4000">15</span> Projectos Entregados
					</h2>
					<h3 class="size-25">Clientes<span> Satisfechos</span>. Desarrollos<span> Únicos</span>!</h3>
				</div>
			</section>
			<!- END DESCANSO VISUAL 2-->
<section>
	<div class="container">
		<div class="timeline">

			<!-- Proyectos -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					01<span></span>
					<div class="timeline-vline" style="color:blue;">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Monitorización de temperaturas</h2>
				<p>El control de las temperaturas en muchos procesos es un factor importante para garantizar el resultado, asegurando el correcto funcionamiento de la maquinaria o estaciones de trabajo. </p>
				<p>
					Un sistema de monitorización es indispensable en estas situaciones, donde el estudio automático de las tendencias de temperatura nos ayuda a tomar acciones oportunas.
				</p>
				<div class="row">
					<div class="col-md-2">

					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/termop1.jpg' %}" style="height:250px;" alt="image">
					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/termop2.jpg' %}" style="height:250px;" alt="image">
					</div>
					<div class="col-md-2">

					</div>
				</div>


			</div>
			<!-- /ITEM -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					02<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Producción y Calidad: detección de defectos.</h2>
				<p>La termografía en los procesos de producción y calidad se basa en un sistema no invasivo y no destructivo capaz de adaptarse a las velocidades de producción, que funciona en tiempo real y es capaz de llevar una trazabilidad de los defectos. Ayuda
					a la validación y al aumento de la calidad y rendimiento de los productos o materiales, añadiendo una ventaja competitiva considerable. </p>
				<p>
					En este aspecto se pueden dar dos tipos de aplicación dependiendo de si lo que nos interesa es un análisis de la temperatura del objeto a alguna de sus características:
				</p>

				<p>
					a) CUANDO EL INTERÉS ES LA TEMPERATURA DEL OBJETO
				</p>
				<p>
					Se utiliza en multitud de aplicaciones donde el estudio del cambio de la temperatura con el tiempo es útil en la fabricación de un objeto.
				</p>
				<div class="row">
					<div class="col-md-2">

					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/termop3.jpg' %}" style="height:250px;" alt="image">
					</div>

					<div class="col-md-4 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/termop4.jpg' %}" style="height:250px;" alt="image">
					</div>
					<div class="col-md-2">

					</div>
				</div>
				<br />
				<p>
					b) CUANDO EL INTERÉS ES UNA CARACTERÍSISTICA DEL OBJETO
				</p>
				<p>
					En muchas ocasiones no es importante la medición de la temperatura, pero analizando el calor de diferentes partes de los objetos bajo inspección podemos extraer características importantes. (<a href="/vision">Ver visión artificial</a>)
				</p>
				<p>
					En el siguiente ejemplo se estudió de forma automática el grosor del
adhesivo aplicado en una pieza.
				</p>

				<div class="row">


					<div class="col-md-12 col-xs-12">
						<img class="img-responsive" src="{% static 'media/alt/termop5.jpg' %}" style="height:250px;" alt="image">
					</div>



				</div>

			</div>
			<!-- /ITEM -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					03<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Mantenimiento Predictivo</h2>
				<p>Un sistema de inspección con cámaras termográficas es una de las herramientas de diagnóstico más valiosas en instalaciones electromecánicas, que permite detectar anomalías que suelen ser invisibles al ojo humano, descubriendo puntos calientes que
					ayudan a determinar dónde y cuándo se necesita mantenimiento y evitar las consecuencias de una avería. </p>
					<div class="row">
						<div class="col-md-2">

						</div>

						<div class="col-md-4 col-xs-12">
							<img class="img-responsive" src="{% static 'media/alt/termop6.jpg' %}" style="height:250px;" alt="image">
						</div>

						<div class="col-md-4 col-xs-12">
							<img class="img-responsive" src="{% static 'media/alt/termop7.jpg' %}" style="height:250px;" alt="image">
						</div>
						<div class="col-md-2">

						</div>
					</div>
			</div>
			<!-- /ITEM -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					04<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Investigación</h2>
				<p>Al igual que la termografía se ha vuelto una tecnología clave en aplicaciones industriales, cada día se encuentran nuevas formas de aplicarla en los campos de la investigación, por ejemplo en la medicina, donde una de nuestras últimas colaboraciones
					ha resultado en la utilización de cámaras termográficas para la detección temprana de cáncer de mama. Este es sólo uno de los múltiples ejemplos que demuestran la infinidad de usos que puede tener, como laboratorios, elaboración de materiales, agricultura,
					construcción, etc. </p>
					<div class="row">
						<div class="col-md-2">

						</div>

						<div class="col-md-4 col-xs-12">
							<img class="img-responsive" src="{% static 'media/alt/termop8.jpg' %}"  alt="image">
						</div>

						<div class="col-md-4 col-xs-12">
							<img class="img-responsive" src="{% static 'media/alt/termop9.jpg' %}"  alt="image">
						</div>
						<div class="col-md-2">

						</div>
					</div>
			</div>
			<!-- /ITEM -->

		</div>



	</div>
</section></section>

{% endblock %}
