{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<!-- INTRODUCCION -->
<section>
	<div class="container">

		<article class="row">
			<div class="col-md-6">
				<!-- OWL SLIDER -->
				<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, 							"navigation": true, "pagination": true, "transitionStyle":"backSlide"}'>

					<div>
						<img class="img-responsive" src="{% static 'media/alt/vision_slide2.jpg' %}" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'media/alt/vision_slide3.jpg' %}" alt="">
					</div>
				</div>
				<!-- /OWL SLIDER -->
			</div>
			<div class="col-md-6">
				<h3>Soluciones en visión artificial: detección y medición sin contacto</h3>
				<p style="font-size:14px;">Mediante el uso de cámaras especiales junto con sistemas de iluminación específicos y las técnicas adecuadas de adquisición y procesamiento de imágenes se puede conseguir, sin contacto, información de un objeto bajo inspección para determinar características,
					dimensiones, formas, colores, orientación, situación espacial, etc. </p>
				<p style="font-size:14px;">Integramos sistemas completos de visión artificial, ya sea para detección automática de defectos en productos, análisis de objetos, metrología y control dimensional, lectura de códigos y automatización en general. Estos son algunos de los beneficios
					del uso de este tipo de tecnología:</p>
				<ul style="font-size:14px;">
					<li>Automatizar tareas repetitivas de inspección realizadas por operadores. </li>
					<li>Realizar controles de calidad de productos que no es posible verificar por métodos tradicionales, o para obtener mayor precisión. </li>
					<li>Realizar mediciones de objetos sin contacto físico. </li>
				</ul>
				<p style="font-size:14px;">Estos sistemas pueden ser autónomos o utilizar una computadora con un software desarrollado a la medida para realizar el análisis y control necesario en cada aplicación. </p>
				<p style="font-size:14px;">Además combinamos estos sistemas con instrumentación externa y otros equipos de medición que estén involucrados en sus procesos. </p>

			</div>
		</article>
	</div>

<!-- END INTRODUCCION -->


<!--SECCION CARACTERISTICAS SERVICIOS-->
<section class="parallax parallax-2" style="background-color:#366192; padding:50px 0px;">
	<div class="overlay dark-8">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>
	<div class="container">

		<!-- FEATURED BOXES 3 -->
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa fa-search"></i>
					<h4>Inspección Automatizada</h4>
					<p>Análisis de defectos y características de piezas en proceso de fabricación sin contacto físico.</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-star-o"></i>
					<h4>Mejora de la Calidad</h4>
					<p>Control de la variabilidad de los procesos y defectos en los productos.</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa  fa-line-chart"></i>
					<h4>Servicio Integral</h4>
					<p>Nos encargamos del diseño, instalación y puesta en marcha.</p>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="text-center">
					<i class="ico-light ico-lg ico-rounded ico-hover fa fa-user"></i>
					<h4>Personalizado</h4>
					<p>Nos apegamos fielmente a las necesidades y requisitos del cliente asesorando en detalle de las posibles soluciones.</p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

	</div>
</section>
<!--- END SECCION CARACTERISTICAS SERVICIOS-->


<!-- SECCION PROCESOS
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="nomargin">Nuestro Proceso de Trabajo</h2>
						<p class="font-lato size-20 nomargin">Nuestro proceso al éxito</p>
					</header>
				<p>Reparación Servicio de reparación de sistemas electrónicos dañados o en mal funcionamiento Ofrecemos Análisis de averías
				En casos especiales instalamos equipos datalogger para la recopilación de datos durante largos períodos de tiempo Reparación de equipos industriales
				Reconstrucción de circuitos electrónicos.</p>

					<div class="divider divider-center"><!
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps process-steps-square nav nav-justified">
						<li class="active">

							<a href="#step1" data-toggle="tab">1</a>
							<h5>Mesa de Trabajo</h5>
							</li>

						<li>
							<a href="#step2" data-toggle="tab">2</a>
							<h5>Planeación</h5>
						</li>
						<li>
							<a href="#step3" data-toggle="tab">3</a>
							<h5>Diseño</h5>
						</li>
						<li>
							<a href="#step4" data-toggle="tab">4</a>
							<h5>Desarollo</h5>
						</li>
						<li>
							<a href="#step5" data-toggle="tab">5</a>
							<h5>Pruebas</h5>
						</li>
						<li>
							<a href="#step6" data-toggle="tab">6</a>
							<h5>Entrega</h5>
						</li>
					</ul>

					<div class="tab-content margin-top-30">
						<div class="tab-pane active" id="step1">
							<strong>Mesa de Trabajo</strong> heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step2">
							<strong>Planeación</strong>  denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step3">
							<strong>Diseño</strong>  tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step4">
							<strong>Desarrollo</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>

						<div class="tab-pane" id="step5">
							<strong>Pruebas</strong>  cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
						<div class="tab-pane" id="step6">
							<strong>Entrega</strong>  Regan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</div>
					</div>

				</div>
			</section>
			<!- END SECCION PROCESOS-->


<!-- DESCANSO VISUAL 2
			<section class="parallax parallax-2" style="background-image: url('{% static 'media/alt/electronica_descanso.jpeg' %}'); background-position: 50% 107px;">
				<div class="overlay dark-7"><!</div>
				<div class="container text-center">
					<h2 class="font-raleway margin-bottom-10">"{% static 'media/alt/parallax1.jpeg' %}"
						<span class="countTo" data-speed="4000">15</span> Projectos Entregados
					</h2>
					<h3 class="size-25">Clientes<span> Satisfechos</span>. Desarrollos<span> Únicos</span>!</h3>
				</div>
			</section>
			<!- END DESCANSO VISUAL 2-->
<section>
	<div class="container">


		<div class="timeline">

			<!-- Proyectos -->

			<!-- ITEM -->
			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					01<span></span>
					<div class="timeline-vline" style="color:blue;">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Técnicas según la aplicación</h2>
				<p>Las técnicas de visión artificial se pueden aplicar en innumerables casos, como por ejemplo en: Detección automática de defectos. Identificación de dolores y formas. Metrología y control dimensional. Lectura de códigos.</p>
				<div class="row">
					<div class="col-md-3">
						<img class="img-responsive" src="{% static 'media/alt/visión_2D.JPG' %}"  alt="image">
					</div>
					<div class="col-md-3">
						<img class="img-responsive" src="{% static 'media/alt/visión_IR.JPG' %}"  alt="image">
					</div>
					<div class="col-md-3">
						<img class="img-responsive" src="{% static 'media/alt/visión_3D.JPG' %}"  alt="image">
					</div>
					<div class="col-md-3">
						<img class="img-responsive" src="{% static 'media/alt/visión_códigos.jpg' %}"  alt="image">
					</div>
				</div>
				<br/>
				<b>
					a) Visible 2D.
				</b>
				<p>
					Existen diversas aplicaciones para la técnica en espectro visible en 2D, en donde la cámara obtiene una imagen plana del objeto, parte o superficie a inspeccionar.<br/> La técnica 2D permite identificar en una pieza u objeto, entre otras, la presencia
					o ausencia de una característica, la medición dimensional total o parcial, detección de imperfecciones, roturas, abolladuras, impurezas, realizar el análisis de texturas, inspección de soldaduras, y lectura de etiquetas y códigos.
				</p>
				<b>
					a) Infrarrojo.
				</b>
				<p>
					Mismas técnicas que visible pero la información de un pixel es temperatura en vez de un color o una intensidad en escala de grises.
				</p>
				<b>
					a) 3D.
				</b>
				<p>Realizamos integración de sensores 3D que combinan cámara y láser en un solo dispositivo (técnica de triangulación 3D), lo cual reduce el tiempo y complejidad del desarrollo del sistema completo. Con este tipo de sensores se obtiene una nube de puntos
					3D del objeto escaneado que procesándola y analizándola se pueden detectar defectos o realizar un análisis dimensional de piezas.
				</p>

				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<img class="img-responsive" src="{% static 'media/alt/vision_2.png' %}" style="height:250px;" alt="image">
					</div>
					<div class="col-md-4">
					</div>
				</div>



			</div>
			<!-- /ITEM -->




			<div class="timeline-item timeline-item-bordered">
				<!-- timeline entry -->
				<div class="timeline-entry rounded" style="border:rgb(54, 97, 146) 3px solid; color:rgb(54, 97, 146);">
					<!-- .rounded = entry -->
					02<span></span>
					<div class="timeline-vline">
						<!-- vertical line -->
					</div>
				</div>
				<!-- /timeline entry -->

				<h2 class="uppercase bold size-17">Sectores de Aplicación</h2>
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<ul>
						<li>
							Electrónica
						</li>
						<li>
							Construcción
						</li>
						<li>
							Ferroviario
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul>
						<li>
							Alimentación
						</li>
						<li>
							Areonáutico
						</li>
						<li>
							Automotriz
						</li>
					</ul>
				</div>
				<div class="col-md-2">
				</div>


			</div>



		</div>
</section></section>



{% endblock %}
